/* navbar styling */
#header {
  padding-top: 5em;
  font-weight: 300;
}

/* nav link styling */
.nav-link {
  color: black;
  font-size: 1.3em;
}

.nav-link:hover {
  color: #00b5b5;
}

#footer-text a {
  color: #008081;
}

/* header and footer image styling */
#profileImage {
  height: 8em;
  width: 7.5em;
}

#socialImage {
  height: 1.5em;
  width: 1.5em;
  color: #008081;
}

#socialImage:hover {
    color: #00b5b5;
}

/* navbar toggler styling */
.navbar-toggler {
    background-color: #008081;
    color: #ffffff;
    font-size: 1em;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-toggler span {
    margin-right: 20px;
}

.navbar-toggler:hover {
    background-color: #00b5b5;
    text-decoration: none;
}

/* button styling */
.btn {
    color: white;
    background-color: #008081;
}

.btn:hover {
    color: white;
    background-color: #00b5b5;
}

/* card styling */
.card {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 2em 1em
}

.card-title {
  color: #008081;
}

.card-link {
  color: #00b5b5;
}

/* image styling */
#profile-img-home {
  width: 20em;
  height: 22em;

}

.img-home {
  width: 10em;
  height: 10em;
}

.img-pages {
  width: 10em;
  height: 10em;
}